elpa/*
auto-save-list/*
viper
eshell/*
session*
tramp
ac-comphist.dat
ido.last
recentf
notes
.org-id-locations
bookmarks
url/*
projectile-bookmarks.eld
projectile*
flycheck-init.el
semanticdb/*
.python-environments/*
pyim/*
.gnus.el
.mew.el
games/
smex-items