elpa/*
auto-save-list/*
viper
eshell/*
session*
tramp
ac-comphist.dat
ido.last
recentf
notes
.org-id-locations
bookmarks
url/*
flycheck-init.el
semanticdb/*
.python-environments/*
pyim/*
.gnus.el
.mew.el
games/
smex-items
newsticker/*
anaconda-mode/*
TAGS
quelpa/*
offline
site-lisp/*.elc
emms/*
.custom.el
projectile.cache
projectile-bookmarks.eld
transient/*
bm-repository
.emacs.desktop
.lsp-session*
.cache/*